<!DOCTYPE html>
<html ng-app="app">

  <head>
    <title>Magical places to Visit</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/style.css" media="screen" />
  </head>

  <body ng-controller="SearchController">
    
    <input type="searchfield" id="searchfield" placeholder="search" ng-model="searchtext">
    
    <div id="maplistwrapper">
      <div id="searchlist">
        <p><strong>Key Locations</strong></p>
        <ol ng-repeat="marker in markers | filter: searchtext | orderBy : title">
          <li><a href="#">{{marker.title}}</a></li>
        </ol>
      </div>
      <div id="map"></div>
    </div>
    
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
    <script src="scripts/locations.js"></script>
    <script src="scripts/app.js"></script>
  </body>

</html>