html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#searchfield {
	padding: 0;
	margin: 0;
	height: 5%;
	width: 100%;
}

#maplistwrapper {
	height: 95%;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: auto;
	border: 1px solid gray;
}

#searchlist {
	height: 100%;
	width: 15%;
	padding: 0;
	margin: 0;
	float: left;
}

#searchlist p {
	padding: 0;
	margin: 0;
	margin-left: 6%;
	margin-top: 6%;
}

#searchlist ol {
	padding: 6%;
	margin: 0;
}

#searchlist ol li {
	display: inline;
}

#searchlist a {
	color: blue;
}

#searchlist ol li :active {
	color: green;
}

#map {
	height: 100%;
	width: 85%;
	float: right;
	display: block;
}
